body {
  background-color: #ffffff; /* Set to white for light theme */
  color: #000000; /* Set to black for standard text color */
}

.app-container {
  background-color: #ffffff;
  color: #000000;
}

.title {
  margin-bottom: 1.5rem;
  color: #76c7c0;
}

.query-form {
  margin-bottom: 1rem;
}

.compute-button {
  margin: 1rem 0;
  background-color: #4caf50;
  color: #ffffff;
}

.content-grid {
  margin-top: 1rem;
}

.section-title {
  color: #333333;
}

.tourney-list, .ranking-table {
  background-color: #f9f9f9; /* Light background for tables */
}

.parameters {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  color: #b0bec5;
}

table {
  color: #ffffff;
}

.MuiTableCell-head {
  color: #76c7c0;
  font-weight: bold;
}

.MuiPaper-root {
  background-color: #1e1e1e !important;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px; /* Adjust as needed for table space */
}
